#foot{
  text-align: center;
  margin-top: 150px;
}
.log{
	padding-top: 150px;
}
#sign{
	padding-top: 50px;
}
#welcome{
	margin-top: 100px;
	padding-left: 70px;
	background-color: #808080;
}
.caption{
	text-align: center;
}
#cart{
	margin-top: 150px;
}
#shop{
	text-align: center;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.7);
	margin-top: 200px;
	padding: 75px;
	width: 40%;
}
#pic{
	margin-top: 100px;
}

.btn-default{
	background-color: #e10304;
	color: #ffffff;
}
